@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf') format('ttf');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('fonts/Lato-Light.ttf') format('ttf');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/Lato-Bold.ttf') format('ttf');
}
body {
    margin: 0;
}
tr:nth-child(even) {
    background-color: #efefef;
}
